<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controller.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.payment.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelManagementController</servlet-name>
        <servlet-class>controller.HotelManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomManagementController</servlet-name>
        <servlet-class>controller.RoomManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentDashboardController</servlet-name>
        <servlet-class>controller.AgentDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelController</servlet-name>
        <servlet-class>controller.HotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>controller.BookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/google-login</url-pattern>
        <url-pattern>/verify-email</url-pattern>
        <url-pattern>/forgot-password</url-pattern>
        <url-pattern>/verify-forgot-password</url-pattern>
        <url-pattern>/change-password</url-pattern>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user-profile</url-pattern>
        <url-pattern>/user-profile/edit</url-pattern>
        <url-pattern>/upload-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelController</servlet-name>
        <url-pattern>/hotels</url-pattern>
        <url-pattern>/search-hotels</url-pattern>
        <url-pattern>/filter-hotels</url-pattern>
        <url-pattern>/hotel-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/booking</url-pattern>
        <url-pattern>/check-room-availability</url-pattern>
        <url-pattern>/process-checkout</url-pattern>
        <url-pattern>/booking-list</url-pattern>
    </servlet-mapping>
    <!--    <listener>
        <listener-class>scheduler.ApplicationListener</listener-class>
    </listener>-->
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelManagementController</servlet-name>
        <url-pattern>/add-hotel</url-pattern>
        <url-pattern>/edit-hotel</url-pattern>
        <url-pattern>/get-cities</url-pattern>
        <url-pattern>/get-hotels</url-pattern>
        <url-pattern>/activate-hotel</url-pattern>
        <url-pattern>/deactivate-hotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomManagementController</servlet-name>
        <url-pattern>/add-room</url-pattern>
        <url-pattern>/edit-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentDashboardController</servlet-name>
        <url-pattern>/agent-dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
